$main-grey: #b5b5b5;
$main-white: #fff;
$main-blue: #0077b6;
$second-white: #fff;
$main-yellow: #ffb703;
$main-orange: #fb8500;

//-----------------------------------------------------------------
//variables
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//-----------------------------------------------------------------
